<!DOCTYPE html>
<html>
<head>
	<title>LesMillsIntuctorApp</title>
	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

	<link rel="icon" type="/images/favicon.ico" >
	<link rel="stylesheet" type="text/css" href="/styles/">
	<link rel="stylesheet" type="text/css" href="/styles/">
	<link rel="stylesheet" type="text/css" href="/styles/">
	<link rel="stylesheet" type="text/css" href="/styles/">
</head>
<body>
	<main>
		<div>
			<nav>
				<ul>
					<li>
						<a href="/classes">Classes</a>
					</li>
					<li>
						<a href="/students">Students</a>
					</li>
					<li>
						<a href="/venues">Venues</a>
					</li>
				</ul>
			</nav>
		</div>
		<section id="content">
		<%=  yield %>
		</section>
	</main>
</body>
</html>