<H3>Client and Bank Balance Updated</H3>

<p>Client: <%=@client.name%></p>
<p>Client Balance: <%=@client.balance%> </p>
<br>
<p>Bank Account Type: <%=@bank.type%></p>
<p>Bank Balance : <%=@bank.balance%></p>