<div>
  <h1>Payments</h1>

<ul class = "list" >
  <% for payment in @payments %>
  <li>
    <%for client in @clients%>
    <%if client.id == payment.client_id%>
    <p>Client: <%=client.name %></p>
    <p>Time: <%=payment.time %></p>
    <p>Amount: <%=payment.amount%></p> 
    <% end %><% end %>
    <hr />   
  </li>
  <%end%>
</ul>
</div>




