<h1>Venues</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/venues/new">Create New Venue</a>
</p>

<ul>
  <% for venue in @venues %>
  <li>
  <p>Name: <%=venue.name %></p>
  <p>Location: <%=venue.location %></p>
    <p>
      <form action="/venues/<%= venue.id %>" method="GET">
        <input class="btn btn--danger" type="submit" value="View" />
      </form>
      <hr />
    </p>
  </li>
  <% end %>
</ul>