<p>Name: <%= @venue.name %></p>
<p>Location : <%= @venue.location %></p>



<form method="GET" action="/venues/<%= @venue.id %>/edit">
  <input type="submit" value="Edit Venue"/>
</form>

<form action = "/venues/<%=@venue.id%>/delete" method = "POST">
<input type="submit" value="Delete" >
</form>
