

<form method="POST" action="/classes">

  <label for="type">Type: </label>
  <input type="text" id="type" name="type"/>

  <label for="time">Time: </label>
  <input type="text" id="time" name="time" />


  <label for="venue_id">Venue: </label>
  <select id="venue_id" name="venue_id">
  <% for venue in @venues%>
    <option value = "<%= venue.id%>"><%= venue.name %></option>
    <%end%>

  <input type="submit" value="Create"/>

</form>













